body{
  display: flex;
  align-items: center;
  justify-content: center;
}

*{
  box-sizing: border-box;
}

.form{
  position: relative;
}

.row{
  display: flex;
}

.form-group{
  margin: 4px;
}

.btn-primary{
  padding: 5px;
  width: 100%;
  border-radius: 4px;
  background-color: aqua;
  border: none;
  font-size: 15px;
}

label{
  position: relative;
}

input[type='text']{
  width: 100%;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 7px;
}

#guide{
  position: absolute;
  display: flex;
  box-shadow: 1px 100px 1px 4000px rgba(0, 0, 0, 0.397);
  background-color: none;
  border: 2px solid black;
  height: 40px;
  width: 400px;
  border-radius: 3px;
  transition: 1s;
  z-index: 3;
}

.cover{
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 4;
}

.next, .prev{
  display: flex;
  margin: 4px;
  padding: 3px 7px;
}

.btn-cont{
  position: absolute;
  display: flex;
  z-index: 10;
}