body, html{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background-color: #000;
    background-size: cover;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*, *::after, *::before{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;  
    transition: 1s;
}

.max-width-400{
    max-width: 400px;
}

.horizontal-center {
    justify-content: center;
}

#myinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 0!important;
}

.content{
    text-align: justify;
}

.content-header{
    font-size: 30px;
}

.content p{
    font-size: 23px;
}

.section-title{
    font-size: 30px;
}

.nav-items{
    position: absolute;
    right: 0;
    padding: 1em;
    text-align: center;
    transition: 1s;
}

.nav-items a{
    color: #ccc;
    text-decoration: none;
    margin: 0px 10px;
    padding: 7px 10px;
    position: relative;
    border-radius: 5px;
    z-index: 0;
    cursor: pointer;
    font-weight: 550;
}

a{
    text-decoration: none;
}

.mb-1{
    margin-bottom: 1rem;
}

.nav-items a:before, .nav-items a:after{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 1px;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-5%) scale(0.8);
    background: transparent;
    padding: 0 10px;
    content: "";
    transition: all 0.3s;
    border-radius: 10px;
    border-top: 3px solid #97c9e6;
    border-bottom: 4px solid #97c9e6;
    z-index: 1;
}


::-webkit-scrollbar {
    width: 0;
}

@media only screen and (min-width:641px){
    .nav-items a:hover:before,.nav-items a:hover:after{
        opacity: 1;
        animation-name: navanimation;
        animation-duration: 1s;
    }

    .col-75{
        flex: 0 0 75%;
        width: 75%;
    }

    .col-50{
        flex: 0 0 50%;
        width: 50%;
    }

    .col-10{
        flex: 0 0 10%;
        width: 10%;
    }

    .col-40{
        flex: 0 0 40%;
        width: 40%;
    }

    .col-60{
        flex: 0 0 60%;
        width: 60%;
    }
}

.col-100{
    flex: 0 0 100%;
    width: 100%;
}

.form-control{
    padding: 10px;
    background-color: #333;
    border: none;
    width: 100%;
    outline: none;
    color: #ddd;
    font-size: 19px;
}


textarea{
    resize: none;
    height: 180px;
}

.btn{
    background-color: #000;
    border: 1px solid cyan;
    color: cyan;
    padding: 1px 19px;
    height: 40px;
    width: 140px;
    font-size: 19px;

}

.btn:hover {
    background-color: cyan;
    color: black;
}


.justify{
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes navanimation {
    0%{
        width: 0;
        height: 0;
        top: 45%;
    }
    50%{
        width: 100%;
        height: 0;
        top: 45%;
    }
    100%{
        top: 1px;
        height: 100%;
        color: #fff;
    }
}

.late-display{
    display: none;
}

#header{
    position: fixed;
    display: flex;
    opacity: 0;
    align-items: center;
    height: 55px;
    top: 0;
    padding: 10px 0 0 0;
    width: 100%;
    transition: 0.5s;
    z-index: 100;
}

.justify{
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-auto{
    height: auto;
    width: 100%;
}

.m-auto{
    text-align: center;
} 

text{
    letter-spacing: 3px;
    stroke: #ddd;
    fill: #ccc;
    stroke-width: 1px;
    transition: 1s;
    text-shadow: 0 0 3px #3bf2ff;
}

svg{
    text-align: center;
}

.text-linear text{
    animation: textAnimate 3s none linear;
}

.text-reverse text{
    animation: textAnimate 3s none reverse;
}

.m-auto{
    margin: auto;
}

.text-center{
    text-align: center;
}

text:hover{
    fill: rgba(0,0,0,0)!important;
}

.myname{
    font-size: 70px;
}

.myjob{
    font-size: 30px;
}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 55%;
        stroke-dashoffset:  100%;
        fill: rgba(0,0,0,0);
    }
    
    75% {
        stroke-dasharray: 55% 0;
        stroke-dashoffstet: -100%;
        fill: rgba(0,0,0,0);
    }
    100%{
        fill: #ddd;
    }
    
}

section{
    height: 100vh;
    width: 100%;
    color: #bbb;
    padding: 60px 20px 0 20px;
}

.cont{
    display: inline;
    height: auto;
    justify-content: center;
}

.p-1{
    padding: 0.5em;
}

.pr-2{
    padding-right: 2rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.h-title{
    font-size: 20px;
    color: #ddd;    
}

.img-cont{
    position: absolute;
    display: flex;
}

.img-cont img{
    height: 35px;
    margin-left: 10px;
}

.active{
    color: #00eeff!important;
    text-shadow: 0 0 10px #38b6b2,0 0 4px #1bbeb9;
}

.container{
    height: auto;
    padding-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fill {
    flex: 1;
}

.column{
    height: 80px;
}
.arrow{
    position: absolute;
    height: 45px;
    margin-left: 40px;
    margin-top: 15px;
    animation: arrow 3s infinite linear;
}

.arrow_d_width{
    width: 300px;
}

.arrow_m_width{
    width: 150px;
}

@keyframes arrow{
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(360deg);
    }

}
.arrow_line{
    position: absolute;
    margin-left: 47px;
    z-index: 1;
    background-color: #555468;
    border-radius: 5px;
}

.arrowline_d_width{
    width: 280px;
    margin-top: 36px;
    height: 4px;
}

.arrowline_m_width{
    width: 140px;
    margin-top: 37px;
    height: 2px;
}

.arrow_head{
    position: absolute;
    background-image: linear-gradient(-45deg, #876f6b 0%, #876f6b, transparent 50%);
    transform: rotateZ(-45deg);
}

.d_arrow_head{
    right: 13px;
    top: 8px;
    width: 30px;
    height: 30px;
}

.m_arrow_head{
    right: 3px;
    top: 16px;
    width: 15px;
    height: 15px;
}

.arrow_top, .arrow_bottom{
    position: absolute;
    left: 5px;
    background-image: linear-gradient(to right, #876f6b 0%, #876f6b 70%, #500606 70%);
    transform: skewX(30deg);
}

.d_arrowtop{
    width: 50px;
    height: 21px;
}

.m_arrowtop{
    top: 13px;
    width: 25px;
    height: 10px;
}

.m_arrowbottom{
    width: 25px;
    height: 10px;
    top: 23px;
}

.d_arrowbottom{
    width: 50px;
    height: 21px;
    bottom: 0;
}

.arrow_bottom{
    bottom: 0;
    background-image: linear-gradient(to right, #876f6b 0%, #876f6b 70%, #500606 70%);
    transform: skewX(-30deg);
}

.cont-line{
    position: absolute;
    width: 350px;
    overflow: hidden;
    height: 80px;
}

.line{
    position: absolute;
    left: 100%;
    width: 100px;
    height: 4px;
    background-image: linear-gradient(to left,  #ffffff00, #afafafaf);
    animation: line 3s infinite linear;
}

#myCanvasContainer {
    position: relative;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


#myCanvas{
    display: inline-block;
    width: 100%;
}

#tags li a:hover{
    transform: scal(1.3);
}

.line-2{
    margin-top: 70px;
    animation-delay: 0.3s;
}

@keyframes line{
    0%, 20%, 40%, 60%, 80%, 100%{
        left: 130%;
    }
    19.9%, 39.9%, 59.9%, 79.9%, 99.9%{
        left: -100px;
    }
}

.canvas{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.canvas:hover{
    z-index: -1;
}

.menu-btn{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    right: 15px;
}

.menu-btn_burger{
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before, .menu-btn_burger::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before{
    transform: translateY(-8px);
}

.menu-btn_burger::after{
    transform: translateY(8px);
}

.menu-btn.open .menu-btn_burger{
    transform: rotateZ(45deg);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before{
    transform: rotate(90deg);
}

.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-180deg);
}

footer{
    background-color: rgba(240, 248, 255, 0.511);
    display: flex;
    height: 1px;
    width: 100%;
}

.footer div{
    width: 0;
}

.pt-2{
    padding-top: 2rem;
}

.max-height{
    height: 100vh;
}

.feature.map {
height:100%;
}
iframe {
  height:100%;
  width:100%;
  border:0;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: grayscale(70%) invert(100%);
}

#contact{
    padding: 0!important;
    position: absolute;
}

.pt-60p{
    padding-top: 60px;
}

label{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid cyan;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
  
.form-control:focus + label{
    transform: translateX(0%);
}
  
.form{
    position: relative;
    overflow: hidden;
}

.success {
    color: cyan;
    text-shadow: 0 0 2px #3ee2ffb7, 0 0 5px #13efff77;
}

.error {
    color: #f80000;
    text-shadow: 0 0 2px #ff3e3eb7, 0 0 5px #ff131377;
}

.error, .success {
    font-weight: 500;
    font-size: larger;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
        animation: slideShow 5s linear normal;
}
@keyframes slideShow {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    40% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0.5;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loader {
    width: 40px!important;
    height: 40px!important;
    border-radius: 50%;
    border: 0px solid transparent!important;
    color: black;
    background: conic-gradient(from 0deg, #000, #000, #00ffff5b, #00ffff9d, #00ffff);
    mask: 
        radial-gradient(farthest-side, transparent calc(100% - 4px), black 0);
    -webkit-mask: 
        radial-gradient(farthest-side, transparent calc(100% - 4px), black 0);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}