body{
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
*, *::after, *::before{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;  
    transition: 0.5s;
}
.panel{
  position: relative;
  display: flex;
}

textarea {
  resize: none;
  overflow:hidden;
  transition: 0s!important;

}

.text-content, textarea{
  border: none;
  outline: none;
}

#title{
  font-size: 30px;
}

.section{
  border: 3px solid #047c94;
  border-radius: 7px;
  display: flex;
}

.element{
  border: 1px dashed gray;
  padding: 7px;
  border-radius: 7px;
  width: 50%;
  margin: 7px;
}

.trash{
  height: 15px;
  width: 15px;
}

.components{
  background-color: #047c94;
  position: relative;
  width: fit-content;
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  margin: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.component{
  background-color: white !important;
  margin: 4px 10px !important;
}
.component:after{
  background-color: white !important;
}

.component:hover, .component:hover:after, .minus:hover{
  background-color: gray!important;
}

.plus{
  height: 18px;
  width: 4px;
  background-color: gray;
  display: block;
  margin: auto;
}

.minus{
  width: 18px;
  height: 4px;
  background-color: white;
  margin: 4px 10px !important;
}

.plus:after{
  content: "";
  height: 5px;
  width: 18px;
  display: block;
  background-color: gray;
  position: relative;
  left: -7px;
  top: 6px;

}

.close:hover, .close:hover:after{
  background-color: red;
}

.close, .close::after{
  height: 18px;
  width: 4px;
  background-color: #facaca;
}
.close{
  transform: rotateZ(45deg);
  margin: 4px 10px;
}
.close::after{
  content: "";
  display: block;
  transform: rotateZ(85deg);
}

#add-section{
  font-size: 20px;
  font-weight: 900;
  width: 40px;
  height: 40px;
  position: inherit;
  background-color: #333;
  float: right;
  color: white;
  position: relative;
  border-radius: 3px;
  border: none;
  margin-top: 10px;
}

#add-section:hover{
  background-color: #006c6c;
}

.cont{
  position: relative;
  margin: 10px 0;
}

.content{
  position: relative;
  height: 100vh;
  width:95%;
  padding: 50px 100px;
}

.content, .sidebar{
  overflow: auto;
}

.sidebar{
  border-left: 1px solid gray;
  position: relative;
  height: 100vh;
  width: 270px;
}
