body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
  }
  h1 {
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 35px;
  }